extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css

block content
  section.section1 
        div.card1
          div.card11 
               <p>zdfxfcgbjmb xcc cfcgcbv vbcvdfzsdsgfnhfvzdxbvnb nb v  </p>
          div.card12
               <p>zdfxfcgbjmb xcc cfcgcbv vbcvdfzsdsgfnhfvzdxbvnb nb v  </p>

  section.section2 
       div.card2 
         <p>ccgvhmvbgchgbvvb ghcghvhjgfcbn vcggmjbhjvxhjhkvnjk</p>

                
  section.section3 
       div.card3 
         <p>ccgvhmvbgchgbvvb ghcghvhjgfcbn vcggmjbhjvxhjhkvnjk</p>   

  section.section4 
       div.footer 
          <p> heyy hii i am footer! </p>    