doctype html
html
  head
    style
         include ../static/style.css
  body
    nav.navbar#navbar1 
      ul.navlist 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact]

    section.section1 
        div.card1
          div.card11 
               <p>zdfxfcgbjmb xcc cfcgcbv vbcvdfzsdsgfnhfvzdxbvnb nb v  </p>
          div.card12
               <p>zdfxfcgbjmb xcc cfcgcbv vbcvdfzsdsgfnhfvzdxbvnb nb v  </p>

    section.section2 
       div.card2 
         <p>ccgvhmvbgchgbvvb ghcghvhjgfcbn vcggmjbhjvxhjhkvnjk</p>

                
    section.section3 
       div.card3 
         <p>ccgvhmvbgchgbvvb ghcghvhjgfcbn vcggmjbhjvxhjhkvnjk</p>   

    section.section4 
       div.footer 
          <p> heyy hii i am footer! </p>    

    script 
       include ../static/index.js     


    
    